.container{
    background-color: var(--primary-color);
    padding: 30px;
    border-top: 1px dotted var(--prmary-text-color);
}
.wrapper{
    width: 1220px;
    margin: 50px auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.itemsList{
    list-style: none;
    /* font-weight: 600; */
    display: flex;
}
.text{
    color: var(--prmary-text-color);

}
.listItem{
    margin-right: 30px;
}
.socialMediaCont{
    display: flex;
    justify-content: flex-end;
}
.socialMediaIcon{
    margin-left: 20px;
}
@media screen and (max-width: 480px) {
    .wrapper{
        width: 90%;
        display: flex;
        flex-direction: column;
        margin: 20px auto;
    }
    .text{
        text-align: center;
    }
    .socialMediaCont{
        margin-top: 20px;
    }
}