.container{
    padding: 50px;
    display: flex;
}
.left{
    background-color: white;
    padding: 20px;
    flex: 2;
    border-radius: 25px;
    -webkit-border-radius: 25px;
    -moz-border-radius: 25px;
    -ms-border-radius: 25px;
    -o-border-radius: 25px;
}
.right{
    flex: 1;
}
.table{
    width: 80%;
    text-align: left;
    padding-bottom: 50px;
}
.row:last-child{
    display: flex;
    justify-content: space-between;
    width: 40%;
}
.done{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.inProgress{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    animation: 1s ease alternate infinite inProgress;
    -webkit-animation: 1s ease alternate infinite inProgress;
}
@keyframes inProgress{
    from{
        opacity: 0;
    }
    to{
        opacity: 1;
    }
}
.undone{
    display: flex;
    opacity: 0.3;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.undone .checkedIcon, .inProgress .checkedIcon{
    display: none;
}
.statusText{
    margin: 5px 0;
}
.wrapper{
    width: 50%;
    max-height: 300px;
    background-color: #333;
    color: white;
    padding: 10px 50px 50px 50px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border-radius: 25px;
    -webkit-border-radius: 25px;
    -moz-border-radius: 25px;
    -ms-border-radius: 25px;
    -o-border-radius: 25px;
}
.totalTextTitle{
    margin-right: 10px;
}
.button{
    background-color: white;
    color: teal;
    border-radius: 25px;
    height: 30px;
    font-weight: bold;
    margin-top: 20px;
    cursor: not-allowed;
    -webkit-border-radius: 25px;
    -moz-border-radius: 25px;
    -ms-border-radius: 25px;
    -o-border-radius: 25px;
}
@media screen and (max-width: 480px){
    .container{
        flex-direction: column;
        padding: 20px;
    }
    .table{
        width: 100%;
        margin-top: 20px;
    }
    .trHead{
        display: none;
    }

    .trBody{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        font-size: 20px;
    }
    .tdBody{
        margin-bottom: 10px;
    }
    .row:last-child{
        flex-direction: column;
        width: 100%;
        align-items: center;
        justify-content: left;
    }
    .left{
        padding: 10px;
        width: 100%;
    }
    .id{
        font-size: 10px;
    }
    .name{
        font-size: 12px;
    }
    .email, .telephone, .address{
        font-size: 14px;
    }
    .address{
        margin-bottom: 15px;
    }
    .id::before{
        content: "Order ID: ";
        font-weight: 700;
    }
    /* .name::before{
        content: "Costumer: ";
        font-weight: 700;
    } */
    .email::before{
        content: "Email: ";
        font-weight: 700;
    }
    .telephone::before{
        content: "Phone: ";
        font-weight: 700;
    }
    .address::before{
        content: "Address: ";
        font-weight: 700;
    }
    .total::before{
        content: "Total: ";
        font-weight: 700;
    }
    .done, .undone, .inProgress{
        margin-bottom: 20px;
    }
    .wrapper{
        width: 100%;
    }
}